#!/usr/bin/env bash

# Movements
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias desk="cd ~/Desktop"

# Shortcuts
alias h="history"
alias j="jobs"
alias g="git"
alias l="ls -la"       # List in long format, include dotfiles
alias ld="ls -ld */"   # List in long format, only directories

# Utilities

# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# Local IP Address
alias localip="ipconfig getifaddr en0"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"
